<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        .header {
            background-color: #3fd3d8;
            color: #000;

            padding: 20px 0;
        }

        .form-container {
            padding: 20px;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="logo.png" alt="Logo" style="max-width: 100px;">
                </div>

            </div>
        </div>
    </div>

    <center>
        <div style="margin-top: 3%;">
            <h1>Tegnrow</h1>
            <p>Don't have an account? <a href="/signup">SignUp</a></p>
        </div>
    </center>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <form action="/pricing">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                            style="height: 45px;">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password" style="height: 45px;">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Link to Bootstrap JS and other scripts if needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>